* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #B452CD;
    width: 100%;
}

#corpo {
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    border-left: solid 2px #ccc;
    border-right: solid 2px #ccc;
}

#corpo #topo {
    padding: 20px 25px;
    border-bottom: 2px solid #ccc;
}

#corpo #topo a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

#corpo #topo a:hover {
    text-decoration: underline;
    color: #B452CD;
}

#conteudo {
    background-color: #fff;
    padding: 20px 25px;
}

#conteudo section h1 {
    font-size: 24px;
    color: #B452CD;
    margin-bottom: 20px;
}

#conteudo section article {
    margin-bottom: 20px;
}

#conteudo section article h2 {
    margin-bottom: 7px;
}

#conteudo section article h2 a{
    font-size: 22px;
    color: #333;
    text-decoration: none;
    margin-bottom: 7px;
}

#conteudo section article h2 a:hover{
    text-decoration: underline;
}

#conteudo section article p{
    font-size: 16px;
    padding-left: 2px;
    color: #333;
}