

/*HEADER*/
.page-home header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1vh 10vw;
    margin-bottom: 1rem;
}

.page-home header img{
    border-radius: 50%;
    width: 60px;
}

.page-home header ul {
    display: flex;
    align-items: center;
}

.page-home header ul li {
    margin-left: 25px;
}

.menu-selected {
    color: #4dc6ec;
    font-weight: bold;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
    margin-top: 75vh;
    text-align: left;
}

main .title-products{
    color: #4dc6ec;
    margin-left: 0.5rem;
    padding: 1rem 0;
}

main .products {
    display: flex;
}

main .products .div-product{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 0.5rem 2rem 0.5rem;
    padding: 0.2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

main .products .div-product img{
    width: 95%;
    margin-bottom: 1rem;
}

main .products .div-product .name-product{
    color:#000;
    font-weight: bold;
    font-size: 1rem;
}
main .products .div-product p {
    color:grey;
    font-size: 1rem;
}
main .products .div-product p span {
    color:#4dc6ec;
    font-weight: bold;
    font-size: 1.1rem;
}
